    <button id="sendemail" >Submit</button>

 <form >
          <div class="form-group">
            <label for="update-field">Example Text</label>
            <input type="text" id="update-field" class="form-control" aria-describedby="update-field" placeholder="Enter Example Text">
         
          <button id="submitupdate" >Submit</button>
        </form>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/email.js"></script>