<div id="login">
  <div class="container">
   <h1>You didn't authenticate with google, so you got this login screen</h1>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
